html { box-sizing: border-box; }

/* 
pozadí stránky      #FAFAFA
černá               #000000
šedá                #8B8B8B
primární modrá      #407BFF
bílá                #FFFFFF
světlemodrá         #407BFF1F
Font Montserrat     font-family: 'Montserrat', sans-serif;


MOBILE FIRST
*/

body {
    color: #8B8B8B;
    background-color: #FAFAFA;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

.kontejner {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1040px;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #407BFF;
}

.traveler {
    width: 350px;
    margin: auto;
    margin-top: 60px;
}

.specializace {
    color: #8B8B8B;
    text-align: center;
    flex-basis: 100%;
    width: 460px;
    margin: auto;
    margin-bottom: 30px;
}



.dobrodruzstvi,
.pohoda {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
    width: 195px;
    align-items: center;
    margin: auto;
}

a {
    text-decoration: none;
    align-items: center;

}

.dobrodruzstvi {
    background-color: #407BFF;
    border: 1px solid #407BFF;
    margin-bottom: 10px;
}

.pohoda {
    background-color: #8B8B8B;
    border: 1px solid #8B8B8B;
    margin-bottom: 60px;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: black;
    font-size: 16px;
    margin-bottom: 15px;
}

p {
    margin: auto;
    width: 460px;
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.naplanovat,
.pohodli {
    border: 1px solid transparent;
    margin-bottom: 30px;
}


.mapa,
.kaktus,
.letadlo,
.palma,
.slunecnik,
.karavan {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 460px;
    height: 80px;
    border: 1px solid transparent;
    box-shadow: 0px 4px 6px #407BFF1F;
    justify-content:space-around;
    margin-bottom: 15px;
}

    .mapa1,
    .kaktus1,
    .letadlo1,
    .palma1,
    .slunecnik1,
    .karavan1 {
        padding: 30px 20px 20px 0px;
    }

.letadlo {
    margin-bottom: 60px;
}

.obr1, 
.obr2, 
.obr3,
.obr4,
.obr5,
.obr6 {
    width: 45px;
    height: 40px;
    margin: 20px 30px 20px 20px;
}


@media screen and (min-width: 640px) {

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 80px;
    }


    .dobrodruzstvi,
    .pohoda {
        flex: 1 0 50%;
        margin: 0;
        flex: 0 0 195px;
    }

    .dobrodruzstvi {
        margin-right: 10px;
    }

    .pohoda {
        margin-left: 10px;
    }

    .naplanovat {
        margin-bottom: 40px;
    }

    .prvni {
        display: flex;
        flex-direction: row;
        margin: auto;

    }

    .mapa,
    .kaktus,
    .letadlo {
        margin-right: 20px;
    }

    .mapa,
    .kaktus,
    .letadlo {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 calc(100% / 3 - 60px);
        width: 230px;
        height: 175px;
    }

    .letadlo {
        margin: 45px 20px 15px 0px;
    }

    .obr1,
    .obr2,
    .obr3 {
        flex: 0 1 100%;
    }

    .mapa1,
    .kaktus1,
    .letadlo1 {
        flex:0 1 100%;
    }

    .mapa,
    .kaktus,
    .letadlo {
        margin-right: 20px;
    }


/* PALMA, SLUNECNIK, KARAVAN */

    .druhy {
        display: flex;
        flex-direction: row;
        margin: auto;

}

    .palma,
    .slunecnik,
    .karavan {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 calc(100% / 3 - 60px);
        width: 230px;
        height: 175px;
    }

    .karavan {
        margin: 45px 20px 15px 0px;
    }

    .obr4,
    .obr5,
    .obr6 {
        flex: 0 1 100%;
    }

    .palma1,
    .slunecnik1,
    .karavan1 {
        flex: 0 1 100%;
    }

    .palma,
    .slunecnik {
        margin-right: 20px;
    }

    h2 {
        margin-top: 80px;
    }

    .mapa1,
    .kaktus1,
    .letadlo1,
    .palma1,
    .slunecnik1,
    .karavan1 {
        padding: 0px 15px 20px 15px;
    }

}

@media screen and (min-width: 1100px) {

    .hlavni {
        display: flex;
        flex-direction: row-reverse;
    }

    h1 {
        flex: 1 1 100%;
        margin: 135px 380px 40px 80px;
        width: 100%;
        text-align: left;
    }

    .buttons {
        height: fit-content;
        padding: 10px 30px;
    }

    .traveler {
        margin: 0 0 0 95px;
        flex: 1 1 100%;
    }

    .specializace {
        margin: 40px 90px 30px 80px;
        text-align: left;
    }

    .sluzbicky {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 80px;
        margin: auto;
    }

    h2 {
        margin-top: 80px;
    }


  .naplanovat {
      margin: 20px 0 0 35px;
      width: 430px;
      text-align: left;
  }

    .delegati {
        display: flex;
        margin-top: 80px;
        margin: auto;
    }

    .pohodli {
        margin-top: 20px;
        margin-left: 80px;
    }

    .mapa1
    .kaktus,
    .letadlo,
    .palma,
    .slunecnik,
    .karavan {
        /* width: 170px;
        height: 190px;  */     
        flex: 0 1 100%;  
    }

    .kancelar {
        text-align: left;
        margin-left: 35px;
    }

    .namiste {
        margin-left: 0;
        text-align: left;
    }












}









